/* ==================== BOTTOM BAR ==================== */
[data-testid="stAppViewContainer"] {
    padding-bottom: 100px !important;
}
div.st-key-bottom_bar_section [data-testid="stHorizontalBlock"] {
    position: fixed !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 50px !important;
    width: 95% !important;
}

div.st-key-bottom_bar_section {

    position: fixed !important;
    filter: blur(0.9);
    bottom: 5px !important;
    left: 0.8% !important;
    right: 0.8% !important;
    height: 65px !important;
    width: calc(100% - 1.6%) !important;
    background: rgba(18, 21, 34, 0.85) !important;
    backdrop-filter: blur(12px) !important; 
    -webkit-backdrop-filter: blur(12px) !important;
    border-top: 2px solid #1a1c2a !important;
    border-radius: 7px;
    padding: 15px 30px !important;
    z-index: 100000 !important;
    border: 2px #19337aa7 solid;
}
div.st-key-bottom_bar_section > div {
    max-width: 100% !important;
}


/* ==================== BUTTONS ==================== */

div.st-key-bottom_bar_section  button p, h3{
    font-family: 'VT323', sans-serif !important;
    font-size: 17px !important;
}
/* Button chung */
div.stDownloadButton {
    display: flex !important;
    height: 53px !important;
}
div.stDownloadButton button {
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;

    height: 35px !important;
    padding: 0 20px !important;

    cursor: pointer !important;
    box-sizing: border-box !important;
}
div.st-key-bottom_bar_section button {
    height: 35px !important;
    padding: 8px 25px !important;
    border-radius: 8px !important;
    font-size: 13px !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: all 0.2s ease !important;
    position: relative;
    overflow: hidden;
}

/* === RESET === */
div.st-key-bottom_bar_section [data-testid="stHorizontalBlock"] > div:nth-child(2) button {
    background: linear-gradient(145deg, rgba(41, 47, 64, 0.4), rgba(20, 28, 45, 0.4))  !important;
    border: 1px solid rgba(123, 129, 149, 0.6) !important;
    color: #bae6fd !important;
    box-shadow: 0 0 10px rgba(20, 28, 45, 0.3),
                inset 0 0 8px rgba(41, 47, 64, 0.2) !important;
}

div.st-key-bottom_bar_section [data-testid="stHorizontalBlock"] > div:nth-child(2) button:hover {
    background: linear-gradient(145deg, #292f40, #141c2d) !important;
    box-shadow: 0 0 12px rgba(96, 165, 250, 0.5),
                inset 0 0 15px rgba(147, 197, 253, 0.3) !important;
    transform: translateY(-2px);
}


/* === EXPORT PNG === */
div.st-key-bottom_bar_section [data-testid="stHorizontalBlock"] > div:nth-child(3) button {
    background: linear-gradient(145deg, #1e3a8a, #1e40af) !important;
    border: 1px solid #60a5fa !important;
    color: #bae6fd !important;
    box-shadow: 0 0 15px rgba(96, 165, 250, 0.4),
                inset 0 0 12px rgba(147, 197, 253, 0.2) !important;
}

div.st-key-bottom_bar_section [data-testid="stHorizontalBlock"] > div:nth-child(3) button:hover {
    background: linear-gradient(145deg, #1e40af, #2563eb) !important;
    box-shadow: 0 0 20px rgba(96, 165, 250, 0.7),
                inset 0 0 15px rgba(147, 197, 253, 0.3) !important;
    transform: translateY(-2px);
}

/* === EXPORT JPG === */
div.st-key-bottom_bar_section [data-testid="stHorizontalBlock"] > div:last-child button {
    background: linear-gradient(145deg, #4c1d95, #6d28d9) !important;
    border: 1px solid #a78bfa !important;
    color: #ddd6fe !important;
    box-shadow: 0 0 15px rgba(167, 139, 250, 0.4),
                inset 0 0 12px rgba(192, 132, 252, 0.2) !important;
}

div.st-key-bottom_bar_section [data-testid="stHorizontalBlock"] > div:last-child button:hover {
    background: linear-gradient(145deg, #6d28d9, #7c3aed) !important;
    box-shadow: 0 0 22px rgba(167, 139, 250, 0.75),
                inset 0 0 15px rgba(192, 132, 252, 0.35) !important;
    transform: translateY(-2px);
}

/* Tăng độ nổi cho các nút */
div.st-key-bottom_bar_section button:active {
    transform: scale(0.97) !important;
}

/* ===============Input================= */
div[data-testid="stTextInput"] {
    position: absolute !important;
    width: 100% !important;
    top: -55px !important;
    font-size: 13px !important;
    padding: 2px 8px !important;
}
div[data-testid="stTextInput"] input{
    background: linear-gradient(180deg,#151932 0%,#10152b 100%) !important;

    color:#f3f3f3 !important;

    border:1px solid rgba(130,90,255,0.45) !important;

    border-radius:14px !important;

    padding:12px 16px !important;

    font-size:14px !important;

    box-shadow:
        0 0 12px rgba(128,0,255,0.18),
        inset 0 0 10px rgba(255,255,255,0.03);

    transition:0.25s ease;
}
div[data-testid="stTextInput"] input:focus{
    border:1px solid #8b5cf6 !important;

    box-shadow:
        0 0 0 1px #8b5cf6,
        0 0 18px rgba(139,92,246,0.45) !important;
}

div[data-testid="stTextInput"] input::placeholder {
        color: #6b7280 !important;
        opacity: 0.8;
}

div[data-testid="stTextInput"] > div {
        background: transparent !important;
        border: none !important;
}

div[data-testid="stTextInput"] input:focus {
        border: 1px solid #8b5cf6 !important;
        outline: none;
        box-shadow: 
            0 0 0 2px rgba(139, 92, 246, 0.3),
            0 0 20px rgba(139, 92, 246, 0.55) !important;
    }
div[data-testid="InputInstructions"] {
    display: none;
}

div[data-testid="stTextInput"]::after{
    content: "Nhập object cần remove...";
    
    position: absolute;

    left: 24px;
    top: 11px;

    color: #6b7280;
    font-size: 14px;

    pointer-events: none;

    transition: all .22s ease;

    background: #12182f;
    padding: 0 4px;
}

div[data-testid="stTextInput"]:focus-within::after{
    position: absolute;
    top: -8px;
    left: 18px;

    font-size: 11px;

    color: #a855f7;
}